<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Recetario</title>
        <link rel="stylesheet" href="{% static 'recetario/css/estilos.css' %}">
    </head>
    <body>
        <div class="topnav">
            <a href="{% url 'inicio' %}">Inicio</a>
            <a href="{% url 'receta' %}">Receta del día</a>
            <a href="{% url 'desayunos' %}">Desayunos</a>
            <a href="{% url 'comidas' %}">Comidas</a>
            <a href="{% url 'cenas' %}">Cenas</a>
            <a href="{% url 'todas' %}">Todas las recetas</a>
        </div>
        <header><h1>Recetario</h1></header>
        <div class="content">
            {% block contenido %}
                Aquí va el contenido.
            {% endblock %}
        </div>
    </body>
</html>
