<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Modifica</title>
    </head>
    <body>
        <h1>Modifica socio</h1>

        <form action="modificaRegistro/{{ socio.id }}" method="post">
            {% csrf_token %} Nombre:<br />
            <input name="nombre" value="{{ socio.nombre }}" />
            <br /><br />
            Apellidos:<br />
            <input name="apellidos" value="{{ socio.apellidos }}" />
            <br /><br />
            <input type="submit" value="Enviar" />
        </form>
    </body>
</html>
