<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nuevo Socio</title>
    </head>
    <body>
        <h1>Añadir Socio</h1>

        <form action="nuevoRegistro/" method="post">
            {% csrf_token %} Nombre:<br />
            <input name="nombre" />
            <br /><br />
            Apellidos:<br />
            <input name="apellidos" />
            <br /><br />
            <input type="submit" value="Nuevo" />
        </form>
    </body>
</html>
