body {
    font-family: Arial, Helvetica, sans-serif;
}

.euro {
    background-image: url("euro.png");
    background-repeat: no-repeat;
    background-position: left;
}

.dolar {
    background-image: url("dolar.png");
    background-repeat: no-repeat;
    background-position: left;
}

.libra {
    background-image: url("libra.png");
    background-repeat: no-repeat;
    background-position: left;
}

.yen {
    background-image: url("yen.png");
    background-repeat: no-repeat;
    background-position: left;
}

table {
    border-collapse: collapse;
    border: 1px solid #333;
}

th {
    background-color: lightgrey;
    padding: 5px 8px;
}

td {
    text-align: center;
}

.azul th {
    padding: 2px 5px 2px 20px;
    text-align: left;
    background-color: #e6f3ff;
}

.amarillo td {
    background-color: #ffffcc;
}
