* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    width: 100%;
    background: #0f2027; /* fallback for old browsers */
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    gap: 10px;
}

.form__label {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
}

.form__input {
    font-family: "Roboto", sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: orange;
}

h1 {
    padding: 20px;
    text-align: center;
}
