<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Recetas</title>
    </head>
    <body>
        {% include 'recetario/includes/receta_crear.html' %}
        <h1>Listado de recetas</h1>
        {% for e in receta_list %}
            <ul>
                <li><a href="{% url 'detalle' e.id %}">{{e.nombre}}</a> - {{e.subnombre}}</li>
            </ul>
            <hr>
        {% endfor %}
    </body>
</html>
