<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Propositos</title>
    </head>
    <body>
        <h1>Modificando proposito fecha</h1>
        <p>Proposito actual: <span>{{modProp.proposito}}</span></p>
        <form action="actualizar/{{modProp.id}}" method="get">
            <label for="nuevoProp">Nuevo proposito:</label>
            <input type="text" name="nuevoProp" id="nuevoProp" required />
            <br /><br />
            <button type="submit">Modificar</button>
        </form>
        <a href="/"><button>Atrás</button></a>
        <hr />
    </body>
</html>
