<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tareas por hacer</title>
    </head>
    <body>
        <h1>Lista de Tareas</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Realizada</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
                {% for t in tareas %}
                <tr>
                    <td>{% if t.realizada %} <del>{{t.descripcion}}</del> {% else %} {{t.descripcion}} {% endif %}</td>
                    <td>{% if t.realizada %} Si {% else %} <a href="realizada/{{ t.id }}">No</a> {% endif %}</td>
                    <td><a href="borrar/{{ t.id }}">Borrar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr />
        <form action="nuevaTarea" method="GET">
            <input type="text" name="desc" placeholder="Introduce una tarea nueva." />
            <input type="submit" value="Enviar" />
        </form>
    </body>
</html>
